
.reveal {
  font-size: 26px; /* Hier kannst du die gewünschte Größe einstellen */
}

/* Optional: Verkleinere Titel in der Präsentation */
.reveal h1 {
  font-size: 2em; /* Ändert die Schriftgröße der Titel */
}

/* Optional: Verkleinere die Untertitel */
.reveal h2, .reveal h3, .reveal h4 {
  font-size: 1.5em; /* Untertitelgröße anpassen */
}

/* Optional: Standardtext auf Folien kleiner */
.reveal p, .reveal li {
  font-size: 1em; /* Standardtextgröße */
}
.stack-box {
  max-height: 150vh;  /* passt die Höhe an die Viewport-Höhe an */
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack-box img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

